# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Editor & IDE files
.vscode/
.idea/
*.iml

# Build files
dist/
build/
out/
coverage/
.nyc_output/
.next/
.vercel/
.svelte-kit/
.serverless/

# Docker files
docker-compose.override.yml
